<nav id="sidebar">
  <ul class="menu">
    <li>
      <a href="index.html" class="nav-link">
        <i class="fas fa-tachometer-alt"></i>
        <span>Dashboard</span>
      </a>
    </li>

    <li>
      <a href="Pages/Deployment.html">
        <i class="fa-solid fa-diagram-project"></i>
        <span>Deployment</span>
      </a>
    </li>

    <li>
      <a href="Pages/Transaction.html" class="nav-link">
        <i class="fas fa-exchange-alt"></i>
        <span>Transaction</span>
      </a>
    </li>
  </ul>
</nav>
